{% extends "base.html" %} {% block meta %}
<title>Badminton | Pertandingan</title>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var timer;
        var startTime;

        function startStopwatch() {
            startTime = Date.now();

            function updateStopwatch() {
                var elapsedTime = Date.now() - startTime;
                var minutes = Math.floor(elapsedTime / 60000);
                var seconds = Math.floor((elapsedTime % 60000) / 1000);

                // Pad single digits with leading zeros
                minutes = minutes.toString().padStart(2, '0');
                seconds = seconds.toString().padStart(2, '0');

                var stopwatchText = '[' +minutes + ':' + seconds + ']';
                document.getElementById('stopwatch').textContent = stopwatchText;

                timer = setTimeout(updateStopwatch, 1000); // Update every 10 milliseconds
            }

            updateStopwatch();
        }

        // Start the stopwatch on page load
        startStopwatch();

        // Stop the stopwatch when the user leaves the page
        window.addEventListener('beforeunload', function () {
            clearTimeout(timer);
        });
    });
</script>
{% endblock meta %} {% block content %}
<div class="max-w-2xl mx-auto my-20">
    <h1>Babak Perempat Final</h1>
    <div class="flex flex-col">
        <div class="overflow-x-auto shadow-md sm:rounded-lg">
            <div class="p-4 text-center">
                <h1>PERTANDINGAN PEREMPAT FINAL</h1>
                <h1 id="stopwatch">[00:00]</h1>
            </div>
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden">
                    <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-700">
                        <thead class="bg-gray-100 dark:bg-gray-700">
                            <tr>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Tim 1
                                </th>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Tim 2
                                </th>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Skor Tim 1
                                </th>
                                <th scope="col"
                                    class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                    Skor Tim 2
                                </th>
                                <th scope="col" class="p-4">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    A
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white">
                                    B
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    [–] 1 [+]
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    [–] 0 [+]
                                </td>
                            </tr>
                            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    C
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white">
                                    D
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    [–] 1 [+]
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    [–] 2 [+]
                                </td>
                            </tr>
                            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    E
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white">
                                    F
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    [–] 2 [+]
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    [–] 1 [+]
                                </td>
                            </tr>
                            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    G
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-500 whitespace-nowrap dark:text-white">
                                    H
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    [–] 2 [+]
                                </td>
                                <td
                                    class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    [–] 1 [+]
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="p-4 text-center">
                <h1>[NEXT]</h1>
            </div>
        </div>
    </div>

</div>

{% endblock content %}