{% extends "base.html" %} {% block meta %}
<title>Badminton | Buat Ujian Kualifikasi</title>
{% endblock meta %} {% block content %}


<div class="text-center font-bold flex flex-col" id="content">

  <h1 class="my-10 font-bold text-4xl">Form Buat Ujian Kualifikasi</h1>
  <form
    method="POST"
    action=""
    id="ujian-form"
    class="grid grid-cols-1 gap-5 bg-red-200 rounded border-4 border-neutral-500 p-5 m-auto"
  >
    {% csrf_token %}
    <div>
      <label for="tahun">Tahun</label><br>
      <input
        required
        type="text"
        name="tahun" 
        id="tahun"
        class="text_type_number form-control rounded border-2 border-black-500 hover:border-neutral-900 text-center"
      />
    </div>
    <div>
      <label for="batch">Batch</label><br>
      <input
        required
        type="text"
        name="batch" 
        id="batch"
        class="text_type_number form-control rounded border-2 border-black-500 hover:border-neutral-900 text-center"
      />
    </div>
    <div>
      <label for="tempat">Tempat Pelaksanaan</label><br>
      <input
        required
        type="text"
        name="tempat" 
        id="tempat"
        class="form-control rounded border-2 border-black-500 hover:border-neutral-900 text-center"
      />
    </div>
    <div>
      <label for="tanggal">Tanggal Pelaksanaan</label><br>
      <input required
        type="date"
        name="tanggal"
        id="tanggal"
        class="form-control rounded border-2 border-black-500 hover:border-neutral-900 text-center"
      />
    </div>

    <div>
      <button
        class="text-lg bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded border-2 border-neutral-500"
        type="submit"
      >
        Submit
      </button>
    </div>

    {% if messages %}
    <ul class="text-center font-bold text-black-400">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </form>
</div>

<script>
  $(document).ready(function(){
   $('.text_type_number').attr('type', 'number');
  });

  document.getElementById('ujian-form').addEventListener('submit', (event) => {
    event.preventDefault();

    var tahun = document.getElementById('tahun').value;
    var batch = document.getElementById('batch').value;
    var tempat = document.getElementById('tempat').value;
    var tanggal = document.getElementById('tanggal').value;

    console.log(tahun, batch, tempat, tanggal);

    window.location.assign(`/ujian-kualifikasi/add/${tahun}/${batch}/${tempat}/${tanggal}`);
  })


</script>

{% endblock content %}
