{% extends "base.html" %} {% block meta %}
<title>Badminton | Daftar Event</title>
{% endblock meta %} {% block content %}


<div class="text-center font-bold flex flex-col" id="content">

  <h1 class="my-10 font-bold text-4xl">Daftar Stadium</h1>
  <div class="relative overflow-x-auto mx-24">
    <table class="w-full text-sm text-left ">
        <thead class="text-xs bg-red-400 text-white">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nama Stadium
                </th>
                <th scope="col" class="px-6 py-3">
                    Negara
                </th>
                <th scope="col" class="px-6 py-3">
                    Kapasitas
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          {% if stadiums %}
            {% for stadium in stadiums %}
            <tr class="bg-red-200 border-b">
                <th scope="row" class="px-6 py-4 whitespace-nowrap">
                  {{ stadium.nama }} 
                </th>
                <td class="px-6 py-4 font-medium">
                    {{ stadium.negara }}
                </td>
                <td class="px-6 py-4 font-medium">
                    {{ stadium.kapasitas }}
                </td>
                <td class="px-6 py-4 font-medium">
                  <div class="bg-red-400 text-white rounded-lg pl-3 md:pl-2 p-2 text-center">
                    <a href="{% url 'atlet:show_pilih_event' stadium=stadium.nama %}">Pilih</a>
                  </div>
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
    </table>
  </div>
</div>

{% endblock content %}
