<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dashboard Atlet</title>
        <style>
            h1 {
            text-align: center;
            margin-bottom: 30px;
            }
        </style>
    </head>
    <body>
        <h1>Dashboard Atlet</h1>
        <div class="table-responsive">
            <table class="mx-auto w-auto">
                <tr>
                    <th>Nama lengkap</th>
                    <td>FirstName LastName</td>
                </tr>
                <tr>
                    <th>Negara</th>
                    <td>Indonesia</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>firstname@gmail.com</td>
                </tr>
                <tr>
                    <th>Tanggal lahir</th>
                    <td>02-02-2002</td>
                </tr>
                <tr>
                    <th>Play</th>
                    <td>Right Hand</td>
                </tr>
                <tr>
                    <th>Tinggi badan</th>
                    <td>180cm</td>
                </tr>
                <tr>
                    <th>Jenis kelamin</th>
                    <td>Perempuan</td>
                </tr>
                <tr>
                    <th>Pelatih</th>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>Not Qualified</td>
                </tr>
                <tr>
                    <th>World rank</th>
                    <td>-</td>
                </tr>
                <tr>
                    <th>Total poin</th>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </body>
