{% extends "base.html" %}

{% block meta %}
<title>Badminton | R LIST HASIL PERTANDINGAN</title>
{% endblock meta %}

{% block content %}

<!DOCTYPE html>
<html>

<head>
	<title>Hasil Pertandingan</title>
	<style>
		h1 {
			text-align: center;
			margin-bottom: 30px;
			font-size: 4rem;
			font-weight: bold;
		}

		table {
			border-collapse: collapse;
			width: 100%;
			margin-top: 10px;
		}

		table th,
		table td {
			padding: 1rem;
			border: 1px solid #ccc;
			text-align: center;
		}

		table th {
			background-color: #f2f2f2;
			font-weight: bold;
			font-size: 1.2rem;
		}
	</style>
</head>

<body>
	<div class="container">
		<h1 class="text-center font-bold text-4xl my-10">HASIL PERTANDINGAN [Nama Event]</h1>

		<table>
			<tr>
				<th>Nama Event</th>
				<td>[nama]</td>
			</tr>
			<tr>
				<th>Stadium</th>
				<td>[stadium]</td>
			</tr>
			<tr>
				<th>Hadiah</th>
				<td>[hadiah]</td>
			</tr>
			<tr>
				<th>Kategori Superseries</th>
				<td>[kategori]</td>
			</tr>
			<tr>
				<th>Tanggal Mulai</th>
				<td>[tanggal mulai]</td>
			</tr>
			<tr>
				<th>Tanggal Selesai</th>
				<td>[tanggal selesai]</td>
			</tr>
			<tr>
				<th>Kapasitas</th>
				<td>[isi kapasitas]</td>
			</tr>
		</table>
		<table style="margin-top: 10px;">
			<tr>
				<th>Tahap</th>
				<th>Nama Tim</th>
			</tr>
			<tr>
				<td>Juara 1</td>
				<td>A</td>
			</tr>
			<tr>
				<td>Juara 2</td>
				<td>G</td>
			</tr>
			<tr>
				<td>Juara 3</td>
				<td>D</td>
			</tr>
			<tr>
				<td>Semifinal</td>
				<td>E</td>
			</tr>
			<tr>
				<td>Perempat Final</td>
				<td>C</td>
			</tr>
			<tr>
				<td></td>
				<td>F</td>
			</tr>
			<tr>
				<td></td>
				<td>B</td>
			</tr>
			<tr>
				<td></td>
				<td>H</td>
			</tr>
			<tr>
				<td></td>
				<td>J</td>
			</tr>
		</table>
	</div>
</body>

</html>
{% endblock content %}