<!DOCTYPE html>
<html>
<head>
	<title>Hasil Pertandingan</title>
	<style>
		.container {
			max-width: 800px;
			margin: auto;
			padding: 20px;
			box-sizing: border-box;
			font-family: Arial, sans-serif;
		}

		h1 {
			text-align: center;
			margin-bottom: 30px;
		}

		table {
			border-collapse: collapse;
			width: 100%;
		}

		table th, table td {
			padding: 10px;
			border: 1px solid #ccc;
			text-align: center;
		}

		table th {
			background-color: #f2f2f2;
			font-weight: bold;
		}
	</style>
</head>
<body>
	<div class="container">
		<h1>HASIL PERTANDINGAN [Nama Event]</h1>
		<table>
			<tr>
				<th>Nama Event</th>
				<td>[nama]</td>
			</tr>
			<tr>
				<th>Stadium</th>
				<td>[stadium]</td>
			</tr>
			<tr>
				<th>Hadiah</th>
				<td>[hadiah]</td>
			</tr>
			<tr>
				<th>Kategori Superseries</th>
				<td>[kategori]</td>
			</tr>
			<tr>
				<th>Tanggal Mulai</th>
				<td>[tanggal mulai]</td>
			</tr>
			<tr>
				<th>Tanggal Selesai</th>
				<td>[tanggal selesai]</td>
			</tr>
			<tr>
				<th>Kapasitas</th>
				<td>[isi kapasitas]</td>
			</tr>
		</table>
		<table>
			<tr>
				<th>Tahap</th>
				<th>Nama Tim</th>
			</tr>
			<tr>
				<td>Juara 1</td>
				<td>A</td>
			</tr>
			<tr>
				<td>Juara 2</td>
				<td>G</td>
			</tr>
			<tr>
				<td>Juara 3</td>
				<td>D</td>
			</tr>
			<tr>
				<td>Semifinal</td>
				<td>E</td>
			</tr>
			<tr>
				<td>Perempat Final</td>
				<td>C</td>
			</tr>
			<tr>
				<td></td>
				<td>F</td>
			</tr>
			<tr>
				<td></td>
				<td>B</td>
			</tr>
			<tr>
				<td></td>
				<td>H</td>
			</tr>
			<tr>
				<td></td>
				<td>J</td>
			</tr>
		</table>
	</div>
</body>
</html>
